.cart-container {
    z-index: 99999;
}

.layout-container {
    min-height: 100%;
}

.logo {
    line-height: 17px;
    color: green;
    font-family: serif;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 12px;
}

.logo .main-text {
    font-size: 48px;
}

.logo .sub-text {
    font-size: 16px;
}

a:hover {
    color: #008000;
}

.footer-address {
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    #reservation_section h1 {
        font-size: 23px !important;
    }
}

#reservation_section h1 {
    text-align: center;
    border-bottom: 2px solid #000;
    margin: 0 0 10px;
    padding: 0 0 5px;
}

#stock_title td {
    vertical-align: middle !important;
    font-weight: 900 !important;
    white-space: nowrap;
}

#stock_status th,
#stock_status td {
    text-align: center;
    white-space: nowrap;
}

.price-table .table th,
.price-table .table td {
    text-align: center;
}

.price-table .table tr,
.price-table .table td,
.price-table .table th {
    border: 1px solid #958877;
    color: #614c3f;
}

.price-table .table th {
    background-color: #faebd7;
}

.page-titles.title-grey {
    background-color: #37c2d0;
}

.page-titles.title-grey h4 span {
    color: #fff;
}

.back-to-top {
    bottom: 50px !important;
}

.confirm .total-box {
    background-color: #eee;
}

.total_price,
.total_price .small {
    font-weight: bold;
    font-size: 15px;
}

.total_price .small {
    font-weight: normal;
}

.total_price strong {
    margin-left: 16px;
    font-size: 20px;
}

.customer-info .info {
    padding: 5px;
}

.customer-info .title {
    background-color: #008000;
    color: #fff;
}

.customUi-checkbox,
.customUi-radio,
.customUi-switchToggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    display: inline-block;
    vertical-align: middle;
}

.customUi-checkbox label,
.customUi-radio label,
.customUi-switchToggle label {
    display: block !important;
    cursor: pointer;
}

.customUi-checkbox label span.label-helper,
.customUi-radio label span.label-helper,
.customUi-switchToggle label span.label-helper {
    line-height: inherit;
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
}

.customUi-checkbox input,
.customUi-radio input,
.customUi-switchToggle input {
    opacity: 0 !important;
    height: 20px !important;
    width: 20px !important;
    position: absolute !important;
}

.customUi-checkbox {
    padding: 0;
}

.customUi-checkbox label .label-checkbox {
    background: none;
    border: 2px solid #f2f6f8;
    text-align: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #fff;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.customUi-checkbox label .label-checkbox:before {
    content: '';
    left: 0;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #f3f8fa;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.customUi-checkbox input:checked+label .label-checkbox:before,
.customUi-checkbox input:checked+label+label .label-checkbox:before {
    animation: pulse .45s ease forwards;
    -webkit-animation: pulse .45s ease forwards;
}

.customUi-checkbox input:checked+label .label-checkbox,
.customUi-checkbox input:checked+label+label .label-checkbox {
    border-color: #f2f6f8;
    background: #f2f6f8;
}

.customUi-checkbox input:checked+label .label-checkbox:after,
.customUi-checkbox input:checked+label+label .label-checkbox:after {
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #9ba4ae;
    position: absolute;
    left: 5px;
    text-align: center;
    top: 2px;
    content: "";
    text-align: center;
}

.customUi-checkbox.checkboxUi-primary label .label-checkbox {
    border-color: #e5f2ff;
}

.customUi-checkbox.checkboxUi-primary label .label-checkbox:before {
    border-color: #0084ff;
}

.customUi-checkbox.checkboxUi-primary input:checked+label .label-checkbox {
    border-color: #0084ff;
    background: #0084ff;
}

.customUi-checkbox.checkboxUi-primary input:checked+label .label-checkbox:after {
    color: #e5f2ff;
}

.customUi-checkbox.checkboxUi-success label .label-checkbox {
    border-color: #e5fcd0;
}

.customUi-checkbox.checkboxUi-success label .label-checkbox:before {
    border-color: #94df4a;
}

.customUi-checkbox.checkboxUi-success input:checked+label .label-checkbox {
    border-color: #94df4a;
    background: #94df4a;
}

.customUi-checkbox.checkboxUi-success input:checked+label .label-checkbox:after {
    color: #e5fcd0;
}

.customUi-checkbox.checkboxUi-danger label .label-checkbox {
    border-color: #fee5e4;
}

.customUi-checkbox.checkboxUi-danger label .label-checkbox:before {
    border-color: #fa625e;
}

.customUi-checkbox.checkboxUi-danger input:checked+label .label-checkbox {
    border-color: #fa625e;
    background: #fa625e;
}

.customUi-checkbox.checkboxUi-danger input:checked+label .label-checkbox:after {
    color: #fee5e4;
}

.customUi-checkbox.checkboxUi-warning label .label-checkbox {
    border-color: #fef8e2;
}

.customUi-checkbox.checkboxUi-warning label .label-checkbox:before {
    border-color: #f3d768;
}

.customUi-checkbox.checkboxUi-warning input:checked+label .label-checkbox {
    border-color: #f3d768;
    background: #f3d768;
}

.customUi-checkbox.checkboxUi-warning input:checked+label .label-checkbox:after {
    color: #fef8e2;
}

.customUi-checkbox.checkboxUi-info label .label-checkbox {
    border-color: #e7f7fe;
}

.customUi-checkbox.checkboxUi-info label .label-checkbox:before {
    border-color: #86d4f5;
}

.customUi-checkbox.checkboxUi-info input:checked+label .label-checkbox {
    border-color: #86d4f5;
    background: #86d4f5;
}

.customUi-checkbox.checkboxUi-info input:checked+label .label-checkbox:after {
    color: #e7f7fe;
}

.customUi-checkbox.checkboxUi-purple label .label-checkbox {
    border-color: #f4daff;
}

.customUi-checkbox.checkboxUi-purple label .label-checkbox:before {
    border-color: #a95ec7;
}

.customUi-checkbox.checkboxUi-purple input:checked+label .label-checkbox {
    border-color: #a95ec7;
    background: #a95ec7;
}

.customUi-checkbox.checkboxUi-purple input:checked+label .label-checkbox:after {
    color: #f4daff;
}

.customUi-checkbox.checkboxUi-teal label .label-checkbox {
    border-color: #d9fff8;
}

.customUi-checkbox.checkboxUi-teal label .label-checkbox:before {
    border-color: #2cddbe;
}

.customUi-checkbox.checkboxUi-teal input:checked+label .label-checkbox {
    border-color: #2cddbe;
    background: #2cddbe;
}

.customUi-checkbox.checkboxUi-teal input:checked+label .label-checkbox:after {
    color: #d9fff8;
}

.customUi-checkbox.checkboxUi-dark label .label-checkbox {
    border-color: #bcbdc5;
}

.customUi-checkbox.checkboxUi-dark label .label-checkbox:before {
    border-color: #2c2d3a;
}

.customUi-checkbox.checkboxUi-dark input:checked+label .label-checkbox {
    border-color: #2c2d3a;
    background: #2c2d3a;
}

.customUi-checkbox.checkboxUi-dark input:checked+label .label-checkbox:after {
    color: #bcbdc5;
}

.customUi-checkbox.checkboxUi-pink label .label-checkbox {
    border-color: #fde6f3;
}

.customUi-checkbox.checkboxUi-pink label .label-checkbox:before {
    border-color: #f77dc2;
}

.customUi-checkbox.checkboxUi-pink input:checked+label .label-checkbox {
    border-color: #f77dc2;
    background: #f77dc2;
}

.customUi-checkbox.checkboxUi-pink input:checked+label .label-checkbox:after {
    color: #fde6f3;
}

.customUi-checkbox input:disabled+label {
    opacity: .6;
    pointer-events: none;
}

.customUi-checkbox.checkbox-square label .label-checkbox {
    border-radius: 0px;
}

.customUi-checkbox.checkbox-square label .label-checkbox:before {
    border-radius: 0px;
}

.customUi-checkbox.checkbox-rounded label .label-checkbox {
    border-radius: 100px;
}

.customUi-checkbox.checkbox-rounded label .label-checkbox:before {
    border-radius: 100px;
}

.customUi-radio {
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.customUi-radio label .label-radio {
    background: none;
    border: 2px solid #f2f6f8;
    text-align: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    background: transparent;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.customUi-radio label .label-radio:before {
    content: '';
    left: 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border: 1px solid #f2f6f8;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.customUi-radio input:checked+label .label-radio:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    font-size: 9px;
    position: absolute;
    background-color: #a8adb9;
}

.customUi-radio input:checked+label .label-radio:before {
    animation: pulse .45s ease forwards;
    -webkit-animation: pulse .45s ease forwards;
}

.customUi-radio.radio-square label .label-radio,
.customUi-radio.radio-square label .label-radio:before,
.customUi-radio.radio-square input:checked+label .label-radio:after {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.customUi-radio.radio-radius label .label-radio,
.customUi-radio.radio-radius label .label-radio:before,
.customUi-radio.radio-radius input:checked+label .label-radio:after {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.customUi-radio input:disabled+label {
    opacity: .5;
    pointer-events: none;
}

.customUi-radio.radioUi-primary label .label-radio {
    border-color: #e5f2ff;
}

.customUi-radio.radioUi-primary label .label-radio:before,
.customUi-radio.radioUi-primary label .label-radio:after {
    border-color: #0084ff;
}

.customUi-radio.radioUi-primary input:checked+label .label-radio:after {
    background-color: #0084ff;
}

.customUi-radio.radioUi-info label .label-radio {
    border-color: #e7f7fe;
}

.customUi-radio.radioUi-info label .label-radio:before,
.customUi-radio.radioUi-info label .label-radio:after {
    border-color: #86d4f5;
}

.customUi-radio.radioUi-info input:checked+label .label-radio:after {
    background-color: #86d4f5;
}

.customUi-radio.radioUi-danger label .label-radio {
    border-color: #fee5e4;
}

.customUi-radio.radioUi-danger label .label-radio:before,
.customUi-radio.radioUi-danger label .label-radio:after {
    border-color: #fa625e;
}

.customUi-radio.radioUi-danger input:checked+label .label-radio:after {
    background-color: #fa625e;
}

.customUi-radio.radioUi-success label .label-radio {
    border-color: #e5fcd0;
}

.customUi-radio.radioUi-success label .label-radio:before,
.customUi-radio.radioUi-success label .label-radio:after {
    border-color: #94df4a;
}

.customUi-radio.radioUi-success input:checked+label .label-radio:after {
    background-color: #94df4a;
}

.customUi-radio.radioUi-warning label .label-radio {
    border-color: #fef8e2;
}

.customUi-radio.radioUi-warning label .label-radio:before,
.customUi-radio.radioUi-warning label .label-radio:after {
    border-color: #f3d768;
}

.customUi-radio.radioUi-warning input:checked+label .label-radio:after {
    background-color: #f3d768;
}

.customUi-radio.radioUi-teal label .label-radio {
    border-color: #d9fff8;
}

.customUi-radio.radioUi-teal label .label-radio:before,
.customUi-radio.radioUi-teal label .label-radio:after {
    border-color: #2cddbe;
}

.customUi-radio.radioUi-teal input:checked+label .label-radio:after {
    background-color: #2cddbe;
}

.customUi-radio.radioUi-purple label .label-radio {
    border-color: #f4daff;
}

.customUi-radio.radioUi-purple label .label-radio:before,
.customUi-radio.radioUi-purple label .label-radio:after {
    border-color: #a95ec7;
}

.customUi-radio.radioUi-purple input:checked+label .label-radio:after {
    background-color: #a95ec7;
}

.customUi-radio.radioUi-pink label .label-radio {
    border-color: #fde6f3;
}

.customUi-radio.radioUi-pink label .label-radio:before,
.customUi-radio.radioUi-pink label .label-radio:after {
    border-color: #f77dc2;
}

.customUi-radio.radioUi-pink input:checked+label .label-radio:after {
    background-color: #f77dc2;
}

.customUi-radio.radioUi-dark label .label-radio {
    border-color: #bcbdc5;
}

.customUi-radio.radioUi-dark label .label-radio:before,
.customUi-radio.radioUi-dark label .label-radio:after {
    border-color: #2c2d3a;
}

.customUi-radio.radioUi-dark input:checked+label .label-radio:after {
    background-color: #2c2d3a;
}

.table-calendar-row {
    background-color: #fff;
}

.table-calendar-row td {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

.gradient-title {
    background: linear-gradient(to right, #9d9283, #ced5d7);
    color: white;
    padding: 10px !important;
    margin-bottom: 0 !important;
}

.rental-list-table .number-container {
    margin: 0px;
}

.rental-list-table td {
    vertical-align: middle !important;
}

.rental-list-table .stock-name {
    font-weight: bolder;
}

.gradient-danger {
    background: linear-gradient(to right, #ec0a20, #e07577);
    color: white;
    padding: 10px !important;
    margin-bottom: 0 !important;
}

.spin-btn {
    padding: 9px !important;
    border: 1px solid #C8BFC6;
    border-radius: 0px;
}

.spin-btn i {
    margin-right: 0px !important;
}


/* @media screen and (max-width: 640px) {
    .pc {
        display: none!important;
    }
    .navBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 9999;
        padding: 3px 0;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    .navBtn button {
        display: block;
        border: none;
        background: none;
        outline: 0;
        tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .navIcon {
        border: 3px #cc0000 solid;
        padding: 10px 0;
        cursor: pointer;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
    }
    .iconLayer {
        position: relative;
        display: block;
        width: 40px;
        height: 7px;
        background: #000;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        -webkit-animation-duration: 300ms;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-duration: 300ms;
        -moz-animation-timing-function: ease-in-out;
    }
}

.navBtn {
    z-index: 1001;
} */

.form-control.error,
select.form-control.error {
    border-color: #fa625e;
    background-color: rgba(250, 98, 94, 0.1);
    box-shadow: 0px 0px 5px 2px rgb(250 98 94 / 15%);
}

label.error,
.invalid-feedback {
    color: #fa625e;
    font-size: 90%;
}

label.error,
label.valid {
    display: block;
    clear: both;
    width: 100%;
    padding-top: 10px;
}

.weather-container .row:nth-child(2n+1),
.news-container .row:nth-child(2n+1) {
    background: azure;
}

.weather-container .weather-text,
.news-container .news-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 13px;
}