.menu-active {
    color: #2ad5e6 !important;
}

.icon-text-group {
    display: flex;
    padding: 10px;
}

.icon-text-group .icon-container {
    width: 50px;
    font-size: 30px;
}

.text-container .text-number {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.icon-text-group .text-container {
    width: 100%;
}

.icon-text-group .right-icon {
    margin-top: 14px;
}

.icon-text-group:hover {
    background-color: #99969642;
}

.header-title h3 {
    margin-top: 15px;
    color: white;
    font-weight: 900;
}

a:hover {
    cursor: pointer;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_length {
    float: left;
}

.dataTables_filter {
    float: right;
}